# =====================
# Catkin Work Space
# =====================

# rosrobot-proto1
/build
/devel
/devel_isolated
/el
/el_isolated
/logs
/.catkin_tools
/.vscode
/.catkin_workspace
/src/CMakeLists.txt

# =====================
# Snapcraft Work Space
# =====================
# ros-base-armhf
/ros-base-armhf.tar.bz2

# rosrobot-proto1
/parts
/prime
/ros-base_1.0_amd64.snap
/snap/.snapcraft
/stage/